//output: index.html

doctype html
html(lang='en')
  head
    title Html Icons
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='https://vineethtr.000webhostapp.com/wp-content/uploads/2018/01/logo.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='https://vineethtr.000webhostapp.com/wp-content/uploads/2018/01/logo.png')
    meta(name='msapplication-TileImage', content='https://vineethtr.000webhostapp.com/wp-content/uploads/2018/01/logo.png')
    link(rel='stylesheet', href='css/style.css')
  body
    .banner
      .container
        h1 HTML Icons
        .search-box
          input.search(placeholder='Search icon....')
          span.emty &times;
          
          
    .wrapper
      h3.log Searched Icon not found  &#x2639;
      ul
        li
          i &#9993;
          p envelope
        li
          i &#9733;
          p star
        li
          i &#9734;
          p star-o
        li
          i &#9729;
          p cloud
        li
          i &#9728;
          p sun
        li
          i &#9742;
          p telephone
        li
          i &#9743;
          p telephone-o
        li
          i &#9730;
          p umbrella with rain
        li
          i &#9748;
          p umbrella with rain
        li
          i &#9749;
          p tea cup
        li
          i &#9752;
          p shamrock
        li
          i &#9753;
          p floral 
        li
          i &#9760;
          p skull and crossbones
        li
          i &#9762;
          p radioactive 
        li
          i &#9764;
          p caduceus 
        li
          i &#9769;
          p cross 
        li
          i &#9775;
          p yin yang
        li
          i &#9774;
          p peace 
        li
          i &#9785;
          p emoticon-o sad
        li
          i &#9786;
          p emoticon-0 smile
        li
          i &#9787;
          p emoticon smile
        li
          i &#9832;
          p fire
        li
          i &#9834;
          p music note
        li
          i &#9835;
          p music notes
        li
          i &#9850;
          p recyc  ling 
        li
          i &#9851;
          p universal 
        li
          i &#9855;
          p wheelchair
        li
          i &#9872;
          p flag-o
        li
          i &#9873;
          p flag
        li
          i &#9874;
          p hammer 
        li
          i &#9875;
          p anchor
        li
          i &#9878;
          p scales
        li
          i &#9881;
          p gear
        li
          i &#9889;
          p flash
        li
          i &#9888;
          p warning 
        li
          i &#9917;
          p football

        li
          i &#9972;
          p ferry
        li
          i &#9973;
          p sailboat
        li
          i &#9981;
          p fuel 
        li
          i &#9964;
          p historic  
        li
          i &#9951;
          p truck
        li
          i &#9986;
          p scissors

        li
          i &#9990;
          p phone circle
        li
          i &#9992;
          p plaine
        li
          i &#9994;
          p fist
        li
          i &#9995;
          p hand

        li
          i &#9996;
          p victory 
        li
          i &#9997;
          p writing 

        li
          i &#9999;
          p pencil  
        li
          i &#10067;
          p question mark
        li
          i &#10068;
          p question mark-o

        li
          i &#10071;
          p exclamation 
        li
          i &#10069;
          p exclamation-o
        li
          i &#10084;
          p heart
        li
          i &#9684;
          p chart
        li
          i &#8634;
          p undo
        li
          i &#8635;
          p redo
        li
          i &#9741;
          p   link
        li
          i &#9998;
          p edit 
        li.header
          h2  directional

        li
          i &#9756;
          p hand-o left
        li
          i &#9758;
          p hand-o right
        li
          i &#9757;
          p hand-o up
        li
          i &#9759;
          p hand-o down
        li
          i &#9755;
          p hand right
        li
          i &#9754;
          p hand left
        li
          i &#9661;
          p caret-o down

        li
          i &#9651;
          p caret-o up
        li
          i &#9655;
          p caret-o right
        li
          i &#9665;
          p caret-o left 
        li
          i &#9664;
          p caret left
        li
          i &#9658;
          p caret right
        li
          i &#9650;
          p caret top
        li
          i &#9660;
          p caret bottom 
        li
          i &#10094;
          p angle left
        li
          i &#10095;
          p angle right
        li
          i &#10096;
          p chevron left
        li
          i &#10097;
          p chevron right
        li
          i &larr;
          p long arrow left
        li
          i   &rarr;
          p long arrow right
        li
          i &uarr;
          p long arrow top
        li
          i &darr;
          p long arrow bottom
        li
          i &harr;
          p long arrow left right
        li
          i &#8597;
          p long arrow u    p bottom
        li
          i &#8598;
          p long arrow left top
        li
          i &#8599;
          p long arrow right to    p 
        li
          i &#8600;
          p long arrow right bottom
        li
          i &#8601;
          p long arrow left bottom
        li
          i &#8624;
          p upwards left arrow
        li
          i &#8625;
          p upwards right arrow 
        li
          i &#8626;
          p downwards left arrow 
        li
          i &#8627;
          p downwards right arrow
        li
          i &#8628;
          p rightwards bottom arrow 
        li
          i &#8644;
          p left  right arrow 
        li
          i &#8645;
          p u    p bottom arrow
        li
          i &#8651;
          p left right
        li.header
          h2  form control 
        li
          i &#9744;
          p box
        li
          i &#9635;
          p dot box
        li
          i &#9745;
          p box with check
        li
          i &#9746;
          p times box
        li
          i &#9898;
          p circle-o
        li
          i &#9673;
          p circle dot
        li
          i &#9678;
          p circle dot-o
        li
          i &#9899;
          p circle
        li
          i &#9938;
          p times circle-o
        li
          i &#9940;
          p minus circle
        li
          i &#9866;
          p minus
        li
          i &#10010;
          p plus 
        li
          i  &times;
          p times

        li.header
          h2  gender 
        li
          i &#9791;
          p mercury
        li
          i &#9792;
          p female 
        li
          i &#9794;
          p male
        li
          i &#9793;
          p earth
        li
          i &#9890;
          p doubled female 
        li
          i &#9891;
          p doubled male 
        li
          i &#9893;
          p male and female
        li.header 
          h2  currency
        li
          i &#8377;
          p rupee
        li
          i &cent;
          p cent
        li
          i &pound;
          p pound 
        li
          i &yen;
          p yen
        li
          i &#8352;
          p euro
        li
          i &#8353;
          p colon 
        li
          i &#8354;
          p cruzeiro 
        li
          i &#8355;
          p french franc 
        li
          i &#8356;
          p   lira
        li
          i &#8357;
          p mill

        li
          i &#8373;
          p ced i  
        li
          i &#8371;
          p austral 
        li
          i $
          p usd 
  
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/index.js')
